

<div class="container">

    <p class="lead">The CSV File Filtering Web Application is a user-friendly tool designed to filter CSV files online based on user-defined conditions. This web app allows users to upload a CSV file and specify filtering criteria.</p>

    <app-file-upload></app-file-upload>
  

    <h2 class="mt-4">Usage</h2>

    <ol>
        <li>Upload a CSV file using the provided interface.</li>
        <li>Define filtering conditions using the available options.</li>
        <li>Click the "Filter" button to process the CSV file.</li>
    </ol>

    <h2 class="mt-4">Features</h2>

    <ul>
        <li>Upload CSV files for filtering.</li>
        <li>Define filtering conditions using the web interface.</li>
        <li>Pagination support.</li>
    </ul>
    <h2 class="mt-4">Demo</h2> 
    <video width="640" height="360" controls>
        <source src="assets/CSVFilters.mp4" type="video/mp4">
    </video>
</div>

