<div *ngIf="categorizedProperties">
    <div class="row">
        <div class="col-2 card shadow rounded-3 " style="min-height: 100vh;">
            <active-filter [filterRequest]="filterRequest" (filterChange)="onFilterChange()"></active-filter>
        </div>
        <div class="col-10">
            <ng-container *ngIf="selectedOption === FilterOption.Equal">
                <equal-filter [filterRequest]="filterRequest" [equalPropertiesDataSources]="equalPropertiesDataSources"
                    (filterChange)="onFilterChange()"></equal-filter>
            </ng-container>
            <ng-container *ngIf="selectedOption === FilterOption.Date">

                <date-filter [filterRequest]="filterRequest"
                    [dateProperties]="categorizedProperties.dateRangeProperties "></date-filter>
            </ng-container>
            <ng-container *ngIf="selectedOption === FilterOption.Range">

                <range-filter [filterRequest]="filterRequest"
                    [rangeProperties]="categorizedProperties.rangeProperties "></range-filter>
            </ng-container>
            <div class="d-flex justify-content-end gap-3 m-2">
                <sort-filter [filterRequest]="filterRequest" [sortByProperties]="categorizedProperties.allProperties "
                    (filterChange)="onFilterChange()"> </sort-filter>
                    <div class=" mx-3 ">
                        <label for="pageSize">PageSize  </label>
                        <select class="form-control-sm mx-2" [(ngModel)]="pageSize" (change)="onReceivePageNumber(1)">
                          <option>10</option>
                          <option>25</option>
                          <option>50</option>
                          <option>100</option>
                        </select>
                      </div>
                      
            </div>
            <div class="my-4 ">
                <ng-container *ngTemplateOutlet="templateToRender"></ng-container>
            </div>
            <div>
                <pagination [paginationData]="paginationData" (pageChangeEvent)="onReceivePageNumber($event)">
                </pagination>
            </div>
        </div>
    </div>
</div>